

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid red
}

.profile-img-container {
    padding: 20px;
    border: 1px solid blue;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 10%;
}

.personal-info-container {
    text-align: left;
    padding-left: 5%;
    width: 100%;
    border: 1px solid blueviolet
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.personal-info-item {
    padding-right: 5%;
}